server.port=8080

spring.application.name=api-gateway

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
eureka.instance.prefer-ip-address=true

spring.cloud.gateway.server.webflux.routes[0].id=auth-service
spring.cloud.gateway.server.webflux.routes[0].uri=lb://AUTH-SERVICE
spring.cloud.gateway.server.webflux.routes[0].predicates[0]=Path=/api/auth/**,/oauth2/**,/login/**

spring.cloud.gateway.server.webflux.routes[1].id=gym-service
spring.cloud.gateway.server.webflux.routes[1].uri=lb://GYM-SERVICE
spring.cloud.gateway.server.webflux.routes[1].predicates[0]=Path=/api/gyms/**,/api/public/gyms/**

spring.cloud.gateway.server.webflux.routes[2].id=member-service
spring.cloud.gateway.server.webflux.routes[2].uri=lb://MEMBER-SERVICE
spring.cloud.gateway.server.webflux.routes[2].predicates[0]=Path=/api/members/**

spring.cloud.gateway.server.webflux.routes[3].id=trainer-service
spring.cloud.gateway.server.webflux.routes[3].uri=lb://TRAINER-SERVICE
spring.cloud.gateway.server.webflux.routes[3].predicates[0]=Path=/api/trainers/**

spring.cloud.gateway.server.webflux.routes[4].id=job-service
spring.cloud.gateway.server.webflux.routes[4].uri=lb://JOB-SERVICE
spring.cloud.gateway.server.webflux.routes[4].predicates[0]=Path=/api/jobs/**,/api/public/jobs/**

spring.cloud.gateway.server.webflux.routes[5].id=review-service
spring.cloud.gateway.server.webflux.routes[5].uri=lb://REVIEW-SERVICE
spring.cloud.gateway.server.webflux.routes[5].predicates[0]=Path=/api/gyms/*/reviews/**

spring.cloud.gateway.server.webflux.routes[6].id=search-service
spring.cloud.gateway.server.webflux.routes[6].uri=lb://SEARCH-SERVICE
spring.cloud.gateway.server.webflux.routes[6].predicates[0]=Path=/api/search/**

jwt.secret=${JWT_SECRET:this-is-a-temporary-dev-secret-change-it-later-please}